[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
mypy = "*"
radon = "*"
cohesion = "*"
pydeps = "*"
module-coupling-metrics = "*"

[requires]
python_version = "3.10"
