[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
radon = "*"
cohesion = "*"
pydeps = "*"
module-coupling-metrics = "*"
sphinx = "*"
autopep8 = "*"
flake8 = "*"
mypy = "*"
pytest-cov = "*"
lxml = "*"

[requires]
python_version = "3.10"
